@{
    ViewBag.Title = "Singapore Employee Portal";
    Layout = "~/Views/Shared/_SingaporeLayout.cshtml";
}

<header>
    <h2>Singapore Employee Homepage</h2>
    <h1>Hello World</h1>
    <hr />
</header>