@model Intex.models.Customers

@{
    ViewBag.Title = "Client Portal";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<header class="employee-header">
    <h2>Welcome To Your Customer Portal</h2>
    <h1>@Model.CustomerName</h1>
    <hr />
</header>