@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.employee-header {
    margin-top: 10%;
    font-family: 'Lato', Arial, sans-serif !important;
}

.singapore-employee-body {
    background-image: url('../Content/systembackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.seattle-employee-body {
    background-image: url('../Content/systembackground2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-background {
    background-image: url('../Content/rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form {
    width: 70%;
}

.login-form label {
    font-size: 20px;
}

.login-box {
    background: rgba(208, 208, 208, 0.75); width: 25%;
    border-radius: 15px;
}

.login-btn {
    width: 80%;
    margin-bottom: 30px;
    border-radius: 40px;
}

.login-form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 1.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.order-table-header {
    height: 50px;
}

.order-table-row {
    height: 50px;
}

.order-table-col-2 {
    padding-left: 15px;
}

.order-table-box {
    background: #8080804d;
    padding: 30px;
    border-radius: 15px;
}

.hovered {
    background-color: rgba(183, 183, 183, 0.70);
    cursor: pointer;
}

.highlighted {
    background-color: rgba(140, 151, 171, 0.80) !important;
}

/*This styling is for the customer portal and homepage*/
.customer-page-form-box {
    display: block;
    width: calc(50% - 5px);
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 0;
    font-size: 12px;
    font-style: italic;
    color: #828282;
    background: #f0f4f8;
    outline: none;
}

