body {
}

.form-box {
    display: block;
    width: calc(50% - 5px);
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 0;
    font-size: 12px;
    font-style: italic;
    color: #828282;
    background: #f0f4f8;
    outline: none;
}