
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}

<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="background-color:darkslategray">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 style="color:white">About Us</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p style="color:white">Northwest Labs was founded in 1998 with the sole purpose of pharmaceutical testing. Our expertise enables us to provide quick, reliable results. We are constantly innovating and coming up with ways to improve client experience and test result turn-around. We hope you enjoy working with us as much as we do working with you.</p>
                            </div><!-- .entry-content -->

                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div>
</div>
