
@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_HomepageLayout.cshtml";
}

<div class="swiper-container hero-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-content-wrap" style="background-color:darkslategray">
            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 style="color:white">Locations</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p style="color:white">We currently have 2 locations that serve unique purposes:<br /><br />
                                <b>Seattle</b><br />
                                Our Seattle office is our headquarters, providing customer support, billing, and other managerial functions.
                                <br />
                                <br />
                                <b>Singapore</b><br />
                                Our Singapore office is where all of our tests are performed. Compounds are sent here to be analyzed.
                                </p>
                            </div><!-- .entry-content -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div><!-- .hero-content-wrap -->
    </div>
</div>
