@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div style="margin-top: 10%;" align="center">
        <h2>Employee Login</h2>

        <form style="width: 20%;" method="post" action=@Url.Action("Login", "Home")>
            <label>Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Username">
            <br>
            <label>Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
